/*@import url(http://weloveiconfonts.com/api/?family=fontawesome);*/

.fa {
   width: 60px;
   display: block;
   text-align: center;
   color:#333;
   font:normal 45px 'FontAwesome';
   line-height:60px;
   text-rendering: auto;
   -webkit-font-smoothing: antialiased;
}
.fa-angle-double-down:before {content: "\f063";}

.bounce {
   position: relative;
   bottom: -40px;
   left: 50% ;  
   width: 60px;
   height: 60px ;
   margin-left:-30px;
   animation: bounce 2s infinite;
   -webkit-animation: bounce 2s infinite;
   -moz-animation: bounce 2s infinite;
   -o-animation: bounce 2s infinite;
}
 
@-webkit-keyframes bounce {
   0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
   40% {-webkit-transform: translateY(-30px);}
   60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
   0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
   40% {-moz-transform: translateY(-30px);}
   60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
   0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
   40% {-o-transform: translateY(-30px);}
   60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
   0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
   40% {transform: translateY(-30px);}
   60% {transform: translateY(-15px);}
}

