body {
	height: 220px;
}

html {
	height: 220px;
}

#go-button-proc {
	display: none;
	font-size: 40px;
}

#go-button-text {
	display: block;
	font-size: 30px;
}

#head {
	float: left;
}

#version {
	float:right;
}

#streamitup-path {
	font-size: 13px;
}