.lesson-title {
	padding-left: 25px;
	padding-top: 2px;
	height: 30px;
}

.vid-link-label {
	font-size: 13px;
}

.jumbotron {
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-color: transparent;
}

.vid-row {
	padding-top: 10px;
	padding-bottom: 10px;
}

.lesson-container {
	height: 175px;
}

.header-chkbox {
	position: relative;
	top: 2px;
}

#serialize-all {
	float: right;
	position: relative;
}

#serialize-sele {
	float: right;
	position: relative;
	left: -10px;
}

#toolbar{
	width: inherit;
	margin: inherit;
	border: inherit;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;

  height: 60px;
  background-color: #414142;
  margin-top:50px;
  padding-top:20px;
  padding-bottom:20px;
}

