<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>HujiVids</title>
    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/custom-theme/jquery-ui-1.10.0.custom.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="css/vidPage.css" rel="stylesheet">
    <link href="css/arrow.css" rel="stylesheet">

    <script src="js/lib/jquery-1.11.2.min.js"></script>
    <script src="js/lib/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src= "js/lib/handlebars-v3.0.3.js"></script>
    <script src="js/vidPage.js"></script>


</head>
<body>
<div class="container">

  <div class="jumbotron">
    <h1>StreamItUpExtract</h1>
    <p class="lead">Your videos are right here</p>
    <p><div class="bounce">
          <i class="fa fa-angle-double-down"></i>
        </div>
    </p>
  </div>

  <div id="data-main" >
    <div class="row" id="toolbar">
      <button id="serialize-all" class="btn btn-primary"data-toggle="modal" data-target="#myModal">
        Serialize
      </button>
<!--       <button id="serialize-sele" class="btn btn-info"data-toggle="modal" data-target="#myModal">
        Serialize Selected
      </button> -->
    </div>
    
  </div>

</div>


<!-- Serialized data Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Serialized data</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Great</button>
      </div>
    </div>
  </div>
</div>

<footer class="footer" >
    <div class="container">
        <p class="text-muted"></a>
        </p>
    </div>
</footer>


<!-- Template scripts -->

  <script id="lesson-data" type="text/x-handlebars-template">​
    {{#each videoData}}
      <h3 class="lesson-title"> 
        <input type="checkbox" class="header-chkbox" vid="{{this.vid}}"></input>
        {{this.name}}
      </h3>

      <div class="lesson-container">
        {{#each parts}}
          <h4>Part #{{@index}}</h4>
          <div class="row vid-row">
            <div class="col-md-1">
              <span class="label label-success vid-link-label">Camera</span>
            </div>
            <div class="col-md-11">
                <a href="{{this.full_cam_path}}">{{this.full_cam_path}}</a>
            </div>
          </div>

          <div class="row vid-row">
            <div class="col-md-1">
              <span class="label label-primary vid-link-label">Screen</span>
            </div>
            <div class="col-md-11">
                <a href="{{this.full_scr_path}}">{{this.full_scr_path}}</a>
            </div>
          </div>

          <div class="row vid-row">
            <div class="col-md-1">
              <span class="label label-warning vid-link-label">Other</span>
            </div>
            <div class="col-md-11">
                <a href="{{this.full_other_path}}">{{this.full_other_path}}</a>
            </div>
          </div>
          <br>
        {{/each}}
      </div>
    {{/each}}
  ​</script>


  <script id="serialized-data-script" type="text/x-handlebars-template">
    <textarea id="serialized-data-ta" cols=77 rows=15>
      {{serializedData}}
    </textarea>  
  </script>
<!-- //Template scripts -->
</body>
</html>

